/* Preloader */
#preloader {
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:#fff; /* change if the mask should have another color then white */
    z-index:99; /* makes sure it stays on top */
}

#status {
    width:200px;
    height:200px;
    position:absolute;
    left:50%; /* centers the loading animation horizontally one the screen */
    top:50%; /* centers the loading animation vertically one the screen */
    background-image:url(../img/status.gif); /* path to your loading animation */
    background-repeat:no-repeat;
    background-position:center;
    margin:-100px 0 0 -100px; /* is width and height divided by two */
}

#timeline {
  list-style: none;
  position: relative;
  text-align: left;
  margin-bottom: 50px;
}
#timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 2px;
  background-color: #4997cd;
  left: 50%;
  margin-left: -1.5px;
}
#timeline .clearFix {
  clear: both;
  height: 0;
}
#timeline .timeline-badge {
  color: #fff;
  width: 10px;
  height: 10px;
  /*font-size: 1.2em;*/
  text-align: center;
  position: absolute;
  /*top: 20px;*/
  /*margin: 5px 0px;*/
  left: 50%;
  margin-left: -5px;
 background: #C0C0C0;
  z-index: 100;
}
#timeline .timeline-badge:before{
    top: -5px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 2px;
    background-color: #FFFFFF;
    left: 50%;
    margin-left: -1px;
    height: 5px;
}
#timeline .timeline-badge:after{
    top: 10px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 2px;
    background-color: #FFFFFF;
    left: 50%;
    margin-left: -1px;
    height: 5px;
}


#timeline .timeline-entry {
  border-bottom: dashed 1px #4997cd;
  position: relative;
  padding: 25px 0px;
}
#timeline .timeline-entry .timeline-item {
  /*padding: 20px 0;*/
}
#timeline .timeline-entry .timeline-item .timeline-panel {
  border: 1px solid #d4d4d4;
  border-radius: 3px;
  background-color: #FFFFFF;
  color: #666;
  padding: 10px;
  position: relative;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}
#timeline .timeline-entry .timeline-item .timeline-panel .timeline-panel-ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
#timeline .timeline-entry .timeline-item .timeline-panel.credits .timeline-panel-ul {
  text-align: right;
}
#timeline .timeline-entry .timeline-item .timeline-panel.credits .timeline-panel-ul li {
  color: #666;
}
#timeline .timeline-entry .timeline-item .timeline-panel.credits .timeline-panel-ul li span.importo {
  color: #468c1f;
  font-size: 1.3em;
}
#timeline .timeline-entry .timeline-item .timeline-panel.debits .timeline-panel-ul {
  text-align: left;
}
#timeline .timeline-entry .timeline-item .timeline-panel.debits .timeline-panel-ul span.importo {
  color: #e2001a;
  font-size: 1.3em;
}
.older{
    margin-top: 40px;
}

.details{
    max-height: 100px;
    overflow: auto;
}
#timeline .timeline-entry .timeline-item{
    height: 180px;
}
.timeline-panel-ul li.det{
    height: 70px;
    overflow: auto;
    /*background: beige;*/
    padding: 3px;
    /*margin-bottom: 10px;*/
}
.heading{
    font-weight: bold;
    border-bottom: 1px solid #5C5C5C;
}
.options{
    display: none;
}
.timeline-panel-ul:hover{
    cursor: pointer;
}
.timeline-panel-ul:hover .options{
    display: block;
}





